name: 刷步数  
on:            
  push:     
    branches: [ main ] 
  pull_request:  
    branches: [ main ]    
  schedule:   
    - cron: 16 7 * * *
  watch:   
    types: started
jobs: 
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
      - uses: actions/checkout@v2
      - name: 初始化Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: 开始
        run: |
          pip install requests
          pmode='pp'
          pkey='0a4c4a8fac2d4726b76a9a229788d460'
          user='13540047344#15680452159#17313199311#13086466086#13551175355#13281277984#13708007720#13688376470'
          pwd='cp123456789#cp123456789#Cguniang918#123456abcd#13551175355HHwan#cp123456789#Aa123456#Aa123456'
          step='18888-36666'

          python3 main.py ${pmode} ${pkey} ${user} ${pwd} ${step}
